# EEP Binghamton Bridal Show Fix Duplicates

## Basic Jupyter Notebook Operations

to run a cell (a gray box): SHIFT+ENTER

to comment/ uncomment a line or selected lines: CTRL+/

In [46]:
# pandas is a Python library for working with data tables. It contains helpful functions that we can call on.
import pandas as pd
import numpy as np

## Read In the Data Tables

Note: To successfully read in an Excel file (.xlsx), you cannot have the file open when you run the cell, or it will produce an error. You can open the file after running the cell.

In [45]:
table = pd.read_csv('C:/Users/tsaie/OneDrive/Desktop/EEP DBM/EEP Task 7.2 Resolve Duplicates/dupes new 2021-08-06 v1.csv')
table_primary_key = 'EEP Unique ID' 

# if the primary key is mistakenly read as an integer with .0 at the end:
table[table_primary_key] = table[table_primary_key].apply(lambda x: str(x).replace(".0",""))

table

,duplicates,Contact info,Hubspot Contact ID,All Hubspot Contact IDs,at EEP site?,ID on Main,EEP Unique ID,All EEP IDs,Advertising (updated on 1/8),Business Name,...,Inbound Lead Source,Delete,Assign,Prospect Type,Appended on 7/17,pull,Unnamed: 40,"From ""Removed"" Tab",old formula,dupe type
0,resolved,"email, name",181026,181026,No (8/5/21),Yes (Ester),3000053 (not at site),NaN,NaN,325 Productions,...,NaN,NaN,dupe,Marketing Prospect/Sales Prospect,NaN,NaN,NaN,NaN,NaN,NaN
1,resolved,"email, name",180506,180506,No (8/5/21),Yes (Ester),3000055 (not at site),NaN,NaN,A Note of Elegance,...,NaN,NaN,dupe,Sales Prospect,NaN,NaN,NaN,True,NaN,NaN
2,not duplicate,NaN,636053,636053/640515,Yes (8/5/21),Yes (Ester),867219 (at site),NaN,NaN,AAA Travel Agency,...,NaN,NaN,NaN,SalesML Prospect,NaN,NaN,NaN,True,NaN,Business Name
3,not duplicate,NaN,640515,636053/640515,Yes (8/5/21),Yes (Ester),2012521 (at site),NaN,NaN,AAA Travel Agency,...,NaN,NaN,NaN,SalesML Prospect,NaN,NaN,NaN,True,NaN,Business Name
4,NaN,"email, name",729951,729951/181570,No (8/5/21),Yes (Ester),3000058 (not at site),NaN,NaN,AB Photography,...,NaN,NaN,NaN,Marketing Prospect,NaN,pull,NaN,NaN,NaN,Business Name
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,NaN,NaN,638696,NaN,yes,Yes (Ester),8253 (at site),NaN,NaN,West Branch Angler Resort,...,NaN,NaN,dupe,Marketing Prospect,yes,NaN,NaN,NaN,NaN,NaN
381,NaN,"email, name",NaN,640059,Yes (8/5/21),Yes (Ester),125720 (at site),NaN,NaN,Wilkes Barre Scranton DJs & Photo Booth Servies,...,NaN,NaN,NaN,Sales Prospect,yes,NaN,NaN,True,NaN,Website URL
382,NaN,"email, name",640059,640059,Yes (8/5/21),Yes (Ester),3351800 (at site),NaN,NaN,WJOY DJs,...,NaN,NaN,NaN,Sales Prospect,NaN,NaN,NaN,NaN,NaN,Website URL
383,NaN,"email, name",521151,521151,Yes (8/5/21),Yes (Ester),1474301 (at site),NaN,NaN,Woodloch Pines Resort,...,NaN,NaN,NaN,Sales Prospect,NaN,NaN,NaN,NaN,NaN,Business Name
384,NaN,NaN,NaN,521151,No (8/5/21),Yes (Ester),3351601 (not at site),NaN,NaN,Woodloch Pines Resort,...,NaN,NaN,NaN,Sales Prospect,yes,NaN,NaN,True,NaN,Business Name

## Combining all Unique IDs for the Same Business in One Cell

In [48]:
table[table.get("Business Name") == table.iloc[384].get("Business Name")]

,duplicates,Contact info,Hubspot Contact ID,All Hubspot Contact IDs,at EEP site?,ID on Main,EEP Unique ID,All EEP IDs,Advertising (updated on 1/8),Business Name,...,Inbound Lead Source,Delete,Assign,Prospect Type,Appended on 7/17,pull,Unnamed: 40,"From ""Removed"" Tab",old formula,dupe type
383,NaN,"email, name",521151,521151,Yes (8/5/21),Yes (Ester),1474301 (at site),NaN,NaN,Woodloch Pines Resort,...,NaN,NaN,NaN,Sales Prospect,NaN,NaN,NaN,NaN,NaN,Business Name
384,NaN,NaN,NaN,521151,No (8/5/21),Yes (Ester),3351601 (not at site),NaN,NaN,Woodloch Pines Resort,...,NaN,NaN,NaN,Sales Prospect,yes,NaN,NaN,True,NaN,Business Name

In [54]:
for section_index, section_row in table[table.get("Business Name") == table.iloc[384].get("Business Name")].iterrows():
    print(section_row.get("EEP Unique ID"))

1474301 (at site)
3351601 (not at site)

In [59]:
for index, row in table.iterrows():
    col_with_dupe = row['dupe type']
    unique_ID_list = ""
    try:
        for section_index, section_row in table[table.get(col_with_dupe) == row.get(col_with_dupe)].iterrows():
            unique_ID = section_row.get('EEP Unique ID')
            if unique_ID is not np.nan and unique_ID not in unique_ID_list:
                unique_ID_list += unique_ID + "/"
        if len(unique_ID_list) > 0:
            unique_ID_list = unique_ID_list[:-1]
        print(unique_ID_list)
    except:
        print(index, col_with_dupe)

0 nan
1 nan
867219 (at site)/2012521 (at site)
867219 (at site)/2012521 (at site)
3000058 (not at site)/3002133 (at site)
3000058 (not at site)/3002133 (at site)
3081403 (at site)/867340 (at site)
900477 (at site)/3351944 (not at site)
900477 (at site)/3351944 (not at site)
58248 (at site)/3000369 (not at site)/3000073 (not at site)
58181 (not at site)/5000400
3000088 (at site)/1815795 (not at site)
125820 (at site)/125821 (not at site)
924695 (not at site)/2029730 (at site)
924695 (not at site)/2029730 (at site)
5000387/1814616 (at site)
1813307 (at site)/1813308 (at site)
1813307 (at site)/1813308 (at site)
860348 (not at site)/865483 (not at site)
3009130 (at site)/3081369 (at site)
872935 (at site)/134139 (at site)
872935 (at site)/134139 (at site)
3000123 (not at site)/3009536 (at site)
3000123 (not at site)/3009536 (at site)
4000445 (at site)/5000379
4000445 (at site)/5000379
866119 (at site)/3000147 (not at site)
877771 (at site)/866894 (at site)
3081326 (at site)/3081373 (at site)
1825174 (at site)/1825200 (at site)
1825174 (at site)/1825200 (at site)
1825174 (at site)/1825200 (at site)/1825197 (at site)
872961 (not at site)/873895 (not at site)
871147 (at site)/3000135 (not at site)
871147 (at site)/3000135 (not at site)
2029600 (at site)/3051477 (at site)
2029600 (at site)/3051477 (at site)
1870031 (at site)/1869736 (at site)
1909811 (at site)/3351901 (not at site)
1909811 (at site)/3351901 (not at site)
3000146 (not at site)/3012321 (at site)
3000146 (not at site)/3012321 (at site)
866143 (at site)/1813485 (not at site)
866143 (at site)/1813485 (not at site)
866119 (at site)/3000147 (not at site)
58622 (at site)/3000149 (at site)
58622 (at site)/3000149 (at site)
1127138 (at site)/133944 (not at site)
2029530 (at site)/3000041 (not at site)
2029530 (at site)/3000041 (not at site)
3000154 (at site)/3013489 (not at site)
3000154 (at site)/3013489 (not at site)
1812692 (at site)/3013614 (not at site)
1812692 (at site)/3013614 (not at site)
1813550 (not at site)/1840786 (at site)
1813550 (not at site)/1840786 (at site)
1303440 (at site)/1814935 (at site)
5000388/133812 (not at site)
3000167 (not at site)/3016126 (not at site)
3000167 (not at site)/3016126 (not at site)
1999429 (at site)/1825257 (at site)
5000389/5000393
991202 (at site)/3081342 (at site)
991202 (at site)/3081342 (at site)
874618 (at site)/1813676 (at site)
874618 (at site)/1813676 (at site)
1812687 (at site)/3016971 (not at site)
1812687 (at site)/3016971 (not at site)
3017119 (at site)/1819521 (at site)
1009207 (at site)/3351885 (not at site)
1009207 (at site)/3351885 (not at site)
1870031 (at site)/1869736 (at site)
3000179 (not at site)/3017626 (at site)
3000179 (not at site)/3017626 (at site)
2029481 (not at site)/172 (at site)
2029481 (not at site)/172 (at site)
1813755 (not at site)/3352082 (not at site)
1813755 (not at site)/3352082 (not at site)
125313 (not at site)/125387 (not at site)
125313 (not at site)/125387 (not at site)
3000193 (not at site)/3351609 (not at site)
3000193 (not at site)/3351609 (not at site)
1033826 (at site)/1813832 (at site)
1033826 (at site)/1813832 (at site)
5000390/2029567 (at site)
3000205 (at site)
3000205 (at site)
1874210 (at site)/1874211 (not at site)
1874210 (at site)/1874211 (not at site)
1874231 (at site)/1874232 (not at site)
1874231 (at site)/1874232 (not at site)
1874284 (at site)/1874285 (not at site)
1874284 (at site)/1874285 (not at site)
134146 (not at site)/1815886 (at site)
3000209 (not at site)/3022139 (at site)
3000209 (not at site)/3022139 (at site)
366132 (not at site)/3022169 (not at site)
366132 (not at site)/3022169 (not at site)
134109 (not at site)/3000213 (at site)
134109 (not at site)/3000213 (at site)
2029687 (at site)/3022572 (at site)
2029687 (at site)/3022572 (at site)
1813900 (at site)/1813902 (at site)
1813900 (at site)/1813902 (at site)
1813903 (not at site)/1814362 (at site)
3000218 (not at site)/3023411 (at site)
3000218 (not at site)/3023411 (at site)
1849696 (at site)/134302 (at site)
134263 (at site)/3024464 (at site)
134263 (at site)/3024464 (at site)
2029483 (at site)/3011693 (at site)
3000193 (not at site)/3351609 (not at site)/3019728 (at site)
2013352 (at site)/2013353 (not at site)
2013352 (at site)/2013353 (not at site)
3000240 (not at site)/3026865 (at site)
3000240 (not at site)/3026865 (at site)
3027793 (not at site)/344025 (at site)
125401 (not at site)/1931467 (at site)
125401 (not at site)/1931467 (at site)
119 nan
3000253 (not at site)/125468 (at site)
3000253 (not at site)/125468 (at site)
134279 (not at site)/2029500 (at site)
134279 (not at site)/2029500 (at site)
1787095 (at site)
1787095 (at site)
3009130 (at site)/3081369 (at site)
3000263 (not at site)/3030555 (at site)
3000263 (not at site)/3030555 (at site)
1814181 (at site)/1807487 (at site)
1814181 (at site)/1807487 (at site)
1814197 (at site)/1814200 (at site)/1814202 (at site)/1814203 (at site)
1814197 (at site)/1814200 (at site)/1814202 (at site)/1814203 (at site)
1814197 (at site)/1814200 (at site)/1814202 (at site)/1814203 (at site)
1814197 (at site)/1814200 (at site)/1814202 (at site)/1814203 (at site)
1814217 (at site)/1814218 (at site)
1814217 (at site)/1814218 (at site)
1814232 (not at site)/3351896 (not at site)
134118 (at site)/58201 (at site)
134118 (at site)/58201 (at site)
4000447 (at site)/5000391
4000447 (at site)/5000391
5000390/2029567 (at site)
3032858 (at site)/1126887 (at site)
3032858 (at site)/1126887 (at site)
1814232 (not at site)/3351896 (not at site)
2002561 (at site)
2002561 (at site)
1814293 (not at site)/2001772 (not at site)
1814293 (not at site)/2001772 (not at site)
1814304 (at site)/1616443 (at site)
1814304 (at site)/1616443 (at site)
1854924 (at site)/3351911 (not at site)
3000286 (not at site)/3034086 (at site)
3000286 (not at site)/3034086 (at site)
1813903 (not at site)/1814362 (at site)
1814374 (at site)/1814380 (at site)
1814374 (at site)/1814380 (at site)
1814389 (at site)/133899 (at site)
1924097 (at site)/3035388 (not at site)
1924097 (at site)/3035388 (not at site)
1814460 (at site)/3000298 (not at site)
1814460 (at site)/3000298 (not at site)
864580 (at site)/2029652 (not at site)/3000031 (at site)
864580 (at site)/2029652 (not at site)/3000031 (at site)
864580 (at site)/2029652 (not at site)/3000031 (at site)
58024 (not at site)/3068430 (at site)
1849696 (at site)/134302 (at site)
868463 (at site)/2029698 (not at site)
868463 (at site)/2029698 (not at site)
2029483 (at site)/3011693 (at site)
3000383 (not at site)/57993 (at site)
4000448 (at site)/5000392 (not at site)
4000448 (at site)/5000392 (not at site)
1176221 (at site)/3351905 (not at site)
1176221 (at site)/3351905 (not at site)
3027793 (not at site)/344025 (at site)
868579 (at site)/3000331 (not at site)
868579 (at site)/3000331 (not at site)
3040059 (not at site)/116605 (not at site)
1817961 (at site)/1817963 (at site)
1817961 (at site)/1817963 (at site)
182 nan
901952 (at site)/2029747 (at site)
901952 (at site)/2029747 (at site)
1187104 (at site)/3040795 (not at site)
1187104 (at site)/3040795 (not at site)
3081326 (at site)/3081373 (at site)
860598 (at site)/3000344 (not at site)
860598 (at site)/3000344 (not at site)
5000387/1814616 (at site)
861307 (at site)
1814618 (not at site)
1231521 (at site)/1815018 (not at site)
3041268 (at site)/4000023 (at site)
195 nan
3000358 (not at site)/3042377 (not at site)
3000358 (not at site)/3042377 (not at site)
3000363 (at site)/1816010 (at site)
1999429 (at site)/1825257 (at site)
1814729 (not at site)/3043688 (not at site)
1814729 (not at site)/3043688 (not at site)
57889 (not at site)/3000366 (not at site)
57889 (not at site)/3000366 (not at site)
1798466 (at site)/1802038 (at site)
1798466 (at site)/1802038 (at site)
2029515 (at site)/2029617 (at site)
2029515 (at site)/2029617 (at site)
1812663 (at site)/3044693 (not at site)
1812663 (at site)/3044693 (not at site)
58248 (at site)/3000369 (not at site)/3000073 (not at site)
3040059 (not at site)/116605 (not at site)
5000389/5000393
2029749 (at site)/3081338 (at site)
2029749 (at site)/3081338 (at site)
215 nan
4221 (at site)/133885 (at site)
3000389 (not at site)/3047306 (at site)
3000389 (not at site)/3047306 (at site)
58111 (at site)/137983 (at site)
58111 (at site)/137983 (at site)
1812693 (not at site)/1842051 (not at site)
1812693 (not at site)/1842051 (not at site)
879692 (not at site)/2029582 (not at site)
5000395/866601 (not at site)
155205 (at site)/1943208 (not at site)
155205 (at site)/1943208 (not at site)
3041268 (at site)/4000023 (at site)
57932 (at site)/57933 (at site)
1814919 (not at site)/1888665 (at site)
1814919 (not at site)/1888665 (at site)
231 nan
1303440 (at site)/1814935 (at site)
876226 (not at site)/3050181 (not at site)
876226 (not at site)/3050181 (not at site)
1842424 (at site)/1842430 (at site)
1842424 (at site)/1842430 (at site)
58147 (not at site)/58146 (at site)
4000459 (at site)/5000396 (not at site)
4000459 (at site)/5000396 (not at site)
860301 (at site)
1814959 (not at site)/1814960 (not at site)
1814959 (not at site)/1814960 (not at site)
58551 (at site)/3000415 (not at site)/3000416 (not at site)
58551 (at site)/3000415 (not at site)/3000416 (not at site)
58551 (at site)/3000415 (not at site)/3000416 (not at site)
5000388/133812 (not at site)
953495 (at site)/1815018 (not at site)
953495 (at site)/1815018 (not at site)
3081382 (at site)/3081387 (at site)
58280 (at site)/58277 (at site)
860348 (not at site)/865483 (not at site)
134066 (not at site)/3000563 (at site)
1911019 (at site)/1911020 (at site)
1911019 (at site)/1911020 (at site)
57932 (at site)/57933 (at site)
4000015 (at site)/4000451 (at site)
4000015 (at site)/4000451 (at site)
1815091 (at site)/2029751 (at site)
1815091 (at site)/2029751 (at site)
260 nan
1815111 (at site)/1815112 (at site)
1815111 (at site)/1815112 (at site)
1502988 (at site)/3054566 (at site)
1502988 (at site)/3054566 (at site)
58147 (not at site)/58146 (at site)
3054903 (at site)/368034 (at site)
3054903 (at site)/368034 (at site)
133848 (at site)/133849 (at site)
57893 (at site)/3000457 (not at site)
57893 (at site)/3000457 (not at site)
3351893 (not at site)/1528500 (at site)
3351893 (not at site)/1528500 (at site)
4000452 (at site)/5000397
4000452 (at site)/5000397
5000398/5000399
5000398/5000399
861419 (at site)/3000237 (not at site)
861419 (at site)/3000237 (not at site)
58181 (not at site)/5000400
203545 (at site)/58194 (at site)
203545 (at site)/58194 (at site)
3081386 (at site)/3351828 (at site)
3081386 (at site)/3351828 (at site)
134235 (at site)/1815304 (at site)
134235 (at site)/1815304 (at site)
134235 (at site)/1815306 (at site)
1838567 (at site)/1815322 (at site)/1838552 (at site)/1838638 (at site)/1838557 (at site)/1838569 (at site)/1838560 (at site)
1838567 (at site)/1815322 (at site)/1838552 (at site)/1838638 (at site)/1838557 (at site)/1838569 (at site)/1838560 (at site)
1838567 (at site)/1815322 (at site)/1838552 (at site)/1838638 (at site)/1838557 (at site)/1838569 (at site)/1838560 (at site)
1838567 (at site)/1815322 (at site)/1838552 (at site)/1838638 (at site)/1838557 (at site)/1838569 (at site)/1838560 (at site)
1838567 (at site)/1815322 (at site)/1838552 (at site)/1838638 (at site)/1838557 (at site)/1838569 (at site)/1838560 (at site)
1838567 (at site)/1815322 (at site)/1838552 (at site)/1838638 (at site)/1838557 (at site)/1838569 (at site)/1838560 (at site)
1838567 (at site)/1815322 (at site)/1838552 (at site)/1838638 (at site)/1838557 (at site)/1838569 (at site)/1838560 (at site)
3000478 (not at site)/3058828 (at site)
3000478 (not at site)/3058828 (at site)
872961 (not at site)/873895 (not at site)
3081382 (at site)/3081387 (at site)
4221 (at site)/133885 (at site)
879692 (not at site)/2029582 (not at site)
3000490 (at site)/3351826 (not at site)
3000490 (at site)/3351826 (not at site)
3061411 (not at site)/3061421 (at site)
3061411 (not at site)/3061421 (at site)
125583 (at site)/1815426 (at site)
125583 (at site)/1815426 (at site)
1819521 (at site)/3351904 (not at site)
1819521 (at site)/3351904 (not at site)
58016 (not at site)/3000499 (not at site)
58016 (not at site)/3000499 (not at site)
58296 (not at site)/3063262 (at site)
58296 (not at site)/3063262 (at site)
133848 (at site)/133849 (at site)
125820 (at site)/125821 (not at site)
1363213 (not at site)/1912427 (at site)
1363213 (not at site)/1912427 (at site)
1912427 (at site)/1912431 (at site)
861026 (at site)/875273 (at site)
861026 (at site)/875273 (at site)
870929 (at site)/2029675 (not at site)
870929 (at site)/2029675 (not at site)
3081403 (at site)/867340 (at site)
4000453 (at site)/5000401
4000453 (at site)/5000401
58248 (at site)/3000369 (not at site)/3000073 (not at site)
567305 (at site)/207521 (not at site)
5000402/3000528 (at site)
5000402/3000528 (at site)
3000531 (not at site)/3068430 (at site)
3000531 (not at site)/3068430 (at site)
58251 (at site)/1578641 (not at site)
58251 (at site)/1578641 (not at site)
3000383 (not at site)/57993 (at site)
874903 (at site)/1812686 (at site)
874903 (at site)/1812686 (at site)
58453 (at site)/1429497 (at site)
1404797 (not at site)/3000533 (at site)
1404797 (not at site)/3000533 (at site)
133955 (at site)/5000403
133955 (at site)/5000403
567305 (at site)/207521 (not at site)
1127138 (at site)/133944 (not at site)
3000088 (at site)/1815795 (not at site)
3351893 (not at site)/3070367 (at site)
58306 (not at site)/3071114 (at site)
58306 (not at site)/3071114 (at site)
5000395/866601 (not at site)
1854924 (at site)/3351911 (not at site)
877771 (at site)/866894 (at site)
133956 (not at site)/2029665 (not at site)
133956 (not at site)/2029665 (not at site)
58077 (at site)/3000561 (at site)
58077 (at site)/3000561 (at site)
134066 (not at site)/3000563 (at site)
134146 (not at site)/1815886 (at site)
871346 (at site)/2029513 (not at site)
871346 (at site)/2029513 (not at site)
3073105 (at site)/3073708 (at site)
1589290 (not at site)/3000572 (not at site)
1589290 (not at site)/3000572 (not at site)
3073105 (at site)/3073708 (at site)
58280 (at site)/58277 (at site)
344050 (at site)/3351773 (not at site)
344050 (at site)/3351773 (not at site)
1426529 (at site)/1815937 (not at site)
1426529 (at site)/1815937 (not at site)
58453 (at site)/1429497 (at site)
3000586 (not at site)/3351824 (at site)
3000586 (not at site)/3351824 (at site)
1814389 (at site)/133899 (at site)
3000363 (at site)/1816010 (at site)
3000597 (not at site)/3076214 (at site)
3000597 (not at site)/3076214 (at site)
125281 (at site)/3351600 (not at site)
125281 (at site)/3351600 (not at site)
134209 (not at site)/3000480 (at site)
134209 (not at site)/3000480 (at site)
377 nan
2029670 (not at site)/3079285 (at site)
2029670 (not at site)/3079285 (at site)
380 nan
125720 (at site)/3351800 (at site)
125720 (at site)/3351800 (at site)
1474301 (at site)/3351601 (not at site)
1474301 (at site)/3351601 (not at site)

## Save File to Your Local PC

In [58]:
# save the file to your local pc, remember to change the version number

table.to_excel('C:/Users/tsaie/OneDrive/Desktop/EEP DBM/EEP Task 7.2 Resolve Duplicates/RESULTS - dupes new/dupes new filled All Contact IDs and All Unique IDs v3.xlsx')